<h2>Hello <%= (current_user.username || current_user.email) %></h2>
<% if current_user.avatar? %>
  <div id="avatar" class="right">
        <%= image_tag current_user.avatar.url, class: 'img-circle' %>
  </div>
      <% end %>
<p> Member since <strong><%= time_ago_in_words(current_user.created_at) %> </strong></p>
<p> Priviledges as <strong><%= current_user.role %> </strong></p>
<p> Wikis created <strong><%= link_to current_user.wikis.count, my_wikis_path %></strong></p>

 
<p><%= link_to "Modify your user", edit_user_registration_path , class: 'button small radius' %></p>

