<h2>Hello <%= (current_user.username || current_user.email) %></h2>
<% if current_user.avatar? %>
  <div id="avatar" class="right">
        <%= image_tag current_user.avatar.url, class: 'img-circle' %>
  </div>
      <% end %>
<p> Member since <strong><%= time_ago_in_words(current_user.created_at) %> </strong></p>
<p> Priviledges as <strong><%= current_user.role %> </strong></p>
<p> Wikis created <strong><%= link_to current_user.wikis.count, my_wikis_path %></strong></p>

<p> Private Wikis created <strong><%= link_to current_user.private_wikis, my_wikis_path %></strong></p>
 
<p><%= link_to "Modify your user", edit_user_registration_path , class: 'button small radius' %></p>
<% if can? :destroy, Wiki %>
<h5>Collaborating in <%= pluralize(current_user.collaborations.length, "Wiki") %></h5> 
<table>
    <% current_user.collaborations.each do |u| %>
    <tr>
      <td><%= link_to Wiki.find(u[:wiki_id]).wikiname , wiki_path(u[:wiki_id]) %></td>
    </tr>
    <% end %>
  </table>
<% end %>

