<%= simple_form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert">
      <h4>There are <%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= control_group_tag(wiki.errors[:wikiname]) do %>
  <div class="row"> 
    <div class="large-9 small-9">
      <div class="row control-group">
        <div class="large-3 small-3 columns">
          <%= f.label :wikiname, "Wikiname", class: 'control-label right inline' %>
        </div>
        <div class="controls large-9 small-9 columns">
          <%= f.text_field :wikiname, id:"right-label", placeholder: "Awesome title" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= control_group_tag(wiki.errors[:description]) do %>
  <div class="row"> 
    <div class="large-9 small-9">
      <div class="row control-group">
        <div class="large-3 small-3 columns">
        <%= f.label :description, "Describe it",class: 'control-label right inline'  %>
        </div>
        <div class="controls large-9 small-9 columns">
          <%= f.text_field :description, id:"right-label", placeholder: "keep descriptions simple" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= control_group_tag(wiki.errors[:body]) do %>
  <div class="row">
    <div class="large-9 small-9">
      <div class="row control-group">
        <div class="large-3 small-3 columns">
        <%= f.label :body, "Contents", class: 'control-label right inline'  %>
        </div>
        
        <div class="controls large-9 small-9 columns">
          <div id="epiceditor"></div>
        <%= f.text_area :body, style:"display:none" %>
        </div>
    </div>
  </div>
</div>
  <% end %>
<!-- tags for cloudtag -->
<div class="row">
    <div class="large-9 small-9">
      <div class="row control-group">
        <div class="large-3 small-3 columns">
        <%= f.label :tag_list, "Tags", class: 'control-label right inline' %>
        </div>
        <div class="controls large-9 small-9 columns">
         <%= f.text_field :tag_list , placeholder: "separated by commas"%>
        </div>
    </div>
  </div>
</div>


  <div class="row"> 
    <div class="large-9 small-9">
        <div class="row control-group">
          <div class="small-3 columns">
          </div>
          <div class="controls small-9 columns">
            <%= f.radio_button :public, true, :checked => true %>
            <%= f.label :public, "Public", :value => "true" %>
          </div>
        </div>
      </div>
    </div>

   <div class="row"> 
    <div class="large-9 small-9">
        <div class="row control-group">
            <div class="small-3 columns">
            </div>
            <div class="controls small-9 columns ">
              <%= f.radio_button :public, false %>
              <%= f.label :private, "Private", :value => "false" %>
              <i class="fi-lock"></i>
              <!-- upgrade upsell -->
              <div class="js-notes hide">
                <% if  current_user.private_wikis < current_user.wiki_limit %>
                <%= content_tag :div, id: "js-client-note" do -%>
                  <%= "You have #{current_user.wiki_limit - current_user.private_wikis} private Wikis remaining." %>
                <% end -%>
                <% else %>
                <%= content_tag :div, id: "js-free-note" do -%>
                  <%= "You have #{current_user.wiki_limit - current_user.private_wikis} private Wikis left. With the #{current_user.role.titleize} plan you only get #{pluralize(current_user.wiki_limit, "Private Wiki")}. In order to make this Wiki private, you’ll need to upgrade your current plan or delete a private Wiki." %> <%=link_to "Upgrade subscription", '/registrations/new' %> 
                <% end -%>
                <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
  <div class="row"> 

  <%= f.submit "Save" , id:"btnSave", class: 'button radius small-offset-2' %>
  </div>
  <% end %>
<%= javascript_include_tag "epiceditor" %>
<%= javascript_include_tag "custom_editor" %>

  