
<%= javascript_include_tag "epiceditor" %>
<%= simple_form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert">
      <h4>There are <%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= control_group_tag(wiki.errors[:wikiname]) do %>
  <div class="row"> 
    <div class="small-8">
      <div class="row control-group">
        <div class="small-3 columns">
          <%= f.label :wikiname, class: 'control-label right inline' %>
        </div>
        <div class="controls small-9 columns">
          <%= f.text_field :wikiname, id:"right-label", placeholder: "Write the title" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= control_group_tag(wiki.errors[:description]) do %>
  <div class="row"> 
    <div class="small-8">
      <div class="row control-group">
        <div class="controls small-3 columns">
        <%= f.label :description, class: 'control-label right inline'  %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :description, id:"right-label", placeholder: "Write the description" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= control_group_tag(wiki.errors[:body]) do %>
  <div class="row">
    <div class="small-8">
      <div class="row control-group">
        <div class="controls small-3 columns">
        <%= f.label :body, class: 'control-label right inline'  %>
        </div>
        
        <div class="small-9 columns">
          <div id="epiceditor"></div>
        <%= f.text_area :body, style:"display:none" %>
        </div>
    </div>
  </div>
</div>
  <% end %>

  <div class="row"> 
    <div class="small-8">
        <div class="row control-group">
          <div class="small-3 columns">
          </div>
          <div class="controls small-9 columns">
            <%= f.radio_button :public, true, :checked => true %>
            <%= f.label :public, "Public", :value => "true" %>
          </div>
        </div>
      </div>
    </div>

   <div class="row"> 
    <div class="small-8">
        <div class="row control-group">
            <div class="small-3 columns">
            </div>
            <div class="controls small-9 columns ">
              <%= f.radio_button :public, false %>
              <%= f.label :private, "Private", :value => "false" %>
              <i class="fi-lock"></i>
              <!-- upgrade upsell -->
              <div class="js-charges hide">
                <h3>Set private account</h3>
                <span class="note">In order to make this wiki private, you’ll need to upgrade your account from Free to Basic.
This will cost $5.00/month</span>
              </div>
            </div>
        </div>
      </div>
    </div>

  <div class="row"> 
  <%= f.submit "Save" , class: 'button radius small-offset-4' %>
  </div>
  <% end %>