<h2><span><%= @wiki.wikiname %></span></h2>
<span><%= @wiki.description %></span>
<hr>

<% if can? :edit, Wiki %>
<span><%= link_to "Edit", edit_wiki_path(@wiki), class: 'button small radius' %></span>
<% end %>

<% if can? :destroy, @wiki %>
<span><%= link_to " Delete", @wiki , method: :delete, class: 'button small alert radius'  %></span>
  <% end %>
  
<% if can? :read, Collaboration %>
<span><%= link_to "Collaborators", wiki_collaborations_path(@wiki), class: 'button small radius' %></span>
<% end %>
Last update <%= time_ago_in_words(@wiki.updated_at) %> ago
<p><%= markdown @wiki.body %></p>
<hr>
<%= link_to "Back", :back, class: "button secondary small radius" %>
