<h1><%= @wiki.wikiname %></h1>
  Updated <%= time_ago_in_words(@wiki.updated_at) %> ago by <%= link_to @wiki.user.username, @wiki.user %><br/>
<% if can? :edit, Wiki %>
<%= link_to "Edit", edit_wiki_path(@wiki) %>
<% end %>
<h3><%= markdown @wiki.description %></h3>
<p><%= markdown @wiki.body %></p>
<%= link_to "Back", :back %>
