<h3>Collaborators</h3>
<% if can? :update, @wiki %>
<%= link_to "Add collaborators", new_wiki_collaboration_path , class: 'button small radius' %>
<% end %>
<table>
<% @collaborations.each do |collaboration| %>
<tr>
  <td> <%= collaboration.user.username %></td>
  <td> <%= collaboration.user.email %></td>
  <% if can? :delete, Collaboration %>
  <td><%= link_to "delete",  wiki_collaboration_path(@wiki, collaboration) , method: :delete, confirm: 'Are you sure you want to delete this collaborator?' %></td>
  <% end %>
</tr>
<% end %>
</table>
<hr>
<%= link_to "Back", :back, class: "button secondary small radius" %>
