<ul class="side-nav">
    
    <li><%= link_to "  Create Wiki", new_wiki_path, class: "button radius fi-cloud" %></li>
    <% if current_user %>
    <li><%= link_to "My Wikis", my_wikis_path %></li>
    <% end %>
    <li><%= link_to "Explore wikis archive", wikis_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Support", support_path %></li>
    <li><%= link_to "buy", charges_new_path %></li>
    <% if current_user %>
    <li>
        <i data-tooltip class="tip-left radius" title="Settings">
        <%= link_to user_path(current_user), class: 'button radius' do%> 
        <i class="fi-widget large"></i>
        <% end %>
        </i>
        <i data-tooltip class="tip-right radius" title="logout <%=current_user.email %>">
        <%= link_to destroy_user_session_path, method: :delete, class: 'button radius' do%> 
        <i class="fi-power large"></i>
        <% end %>
        </i>
        <% end %>
    </li>
</ul>