<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "G-WIKI", root_path %></h1>          
    </li>
  </ul>
  
  <section class="top-bar-section" >
    <% if current_user %>
    <%= form_tag wikis_path, method: :get do %>
      <ul class= "right">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= text_field_tag :query, params[:query] , placeholder: 'Search wikis' %>
            </div>
            <div class="large-4 small-3 columns">
              <%= submit_tag "Search", name: nil , style: "display: none" %>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
    <% end %>
    <% unless current_user %>
    <ul class="right">
      <li> <%= link_to "Already a Member?", new_user_session_path %></li>
    </ul>
  </section>
  <% end %>
</nav>