<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "GWIKI" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wiki Subscription SaaS on Rails" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "responsive-tables" %>
    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag "responsive-tables" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>  

      <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <header>
      <%= render 'layouts/navigation' %>
  </header>
  <div class="container"> 
  <main role="main" class="large-12 small-12 columns">
    <div class="row">
      <%= render 'layouts/messages' %>
      <div class="large-3 small-3 columns">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="large-9 small-9 columns">
        <fieldset>
        <%= yield %> 
        </fieldset>  
      </div>
    </div>
  </main>
  </div>
   <%= javascript_include_tag "application" %>
  </body>
</html>