<!DOCTYPE html>
<html>
<head>
  <title>GWIKI</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>G-WIKI</h1>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <ul>
    <li></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Support", support_path %></li>
    <li><%= link_to "Account", current_user %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
   <% if flash[:notice] %>
          <%= flash[:notice] %>
      <% elsif flash[:error] %>
          <%= flash[:error] %>
      <% elsif flash[:alert] %>
          <%= flash[:alert] %>
    <% end %>

  <%= yield %>

</body>
</html>
