<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GWIKI" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="contain-to-grid sticky" data-options="sticky_on: large">
    <%= render 'layouts/topbar' %>
  </div>
  <div class="container">
    
    <div class="row">
      <%= render 'layouts/notifications' %>
      <div class="small-3 columns">
      <%= render 'layouts/sidebar' %>
      </div>
      <div class="small-9 columns">
          <%= yield %>   
      </div>
    </div>
  </div>
   <%= javascript_include_tag "application" %>
  </body>
</html>